@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:gray;
    
}


/* login body - screen */
.loginBody {
    /*min-width: 360px;
    max-width: 360px;
    min-height: 640px;
    max-height: 640px;*/
    background-color:white;
    padding: 100px 90px;
    border-radius: 5px;
    height: 100vh;
    width: 100vh

}


/* login box - inner box*/
.loginBox {
    padding: 70px 30px;
    /* width: 70vh; */
    height: 450px;
    border-radius:20px;
    background: #007bff;
    color: white;
    text-align: center;
    font-size: 15px;

}

/* login typing part */
.loginBody .inputIdPw {
    width: 100%;
    position: relative;
    margin-top: 30px;
}

/* login typing part - text*/
.loginBody .inputIdPw .text {
    background-color: white;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #007bff;
    text-align: center;
    float:left;
    display:inline;
    width: 20%;
    margin-bottom: 5px
}

/* login typing part - input*/
.loginBody .inputIdPw input {
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    transition: 0.3s all ease;
    float:right;
    display:inline;
    width: 78%;
    margin-bottom: 5px;
}

.loginBody .loginBox .inputIdPw input:hover {
    border-color: #007bff;
}

.loginBody .loginBox .inputIdPw input:focus {
    border-color: #007bff;
}


/* login typing part - button */
.loginBody .loginBox .inputIdPw button {
    background: white;
    border: 1px solid #007bff;
    width: 100%;
    padding: 5px 0px;
    border-radius: 3px;
    color: #007bff;
    outline: none;
    transition: 0.3s all ease;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginBody .loginBox button:hover {
    border: 1px solid white;
    background: #007bff;
    color: white;
}

.loginBody .loginBox .loginFind {
    color: white;
    font-size: 10px;

}
