body{
    height:100%;
    background-color:#BBCCDD;
}



/* login body */
.loginBody {

}



/* login box */
.loginBox {
    height:450px;
    width:300px;
    margin-top:200px;
    padding:10px;
    background-color:#ffd700;
    border-radius:20px;
}




/* chat body */
.chatBody {

}



/* chat box - middle area */
.chatBox {
    height:450px;
    margin-top:50px;
    background-color:#BBCCDD;
}



/* chat header and footer */
.chatHeader {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    padding:10px 0;
    background-color:#DDD;
    color:#000;
    text-align:center;
}

.chatFooter {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    padding:10px 0;
    background-color:#FFF;
    color:#000;
    text-align:center;
}



/* chat text box */
.chatBot {
    margin:15px 0;
    text-align:left;
}

.chatBot span{
    display:inline-block;
    padding:3px 10px;
    background-color:#ffd700;
    border-radius:10px;
}

.chatMe {
    margin:15px 0;
    text-align:right;
}

.chatMe span{
    display:inline-block;
    padding:3px 10px;
    background-color:#3388cc;
    border-radius:10px;
}


/* send button */
.buttonSend {
    padding:10px 0;
    width:100%;
    background-color:#BBCCDD;
    border-style:groove;
    border-color:#bbbbbb;
    border-radius:10px;
}

/* chat text input*/
.inputText {
    padding:10px 0;
    width:100%;
    border-style:groove;
    border-color:#bbbbbb;
    border-radius:10px;
}