<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INULearningMate</title>
    {% block scripts %}
    <script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    var xhr;

    function sendAsk() {
        ctext = document.getElementById("chattext").value;
        if(ctext == "") {
            document.getElementById("chattext").focus();
            return false;
        }

        addtext = "<div style='margin:15px 0;text-align:right;'> <span style='padding:3px 10px;background-color:#3388cc;border-radius:3px;'>" + ctext + "</span></div>";
        document.getElementById("chatbox").innerHTML += addtext;

        var strurl = "chat?chatinput=" + ctext;

        xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                var data = xhr.responseText;

                var obj = JSON.parse(data);

                if(obj.flag == "0"){
                    bottext = "<div style='margin:15px 0;text-align:left;'><span style='padding:3px 10px;background-color:#DDD;border-radius:3px;'>" + obj.chatanswer + "</span></div>";
                    document.getElementById("chatbox").innerHTML += bottext;

                    var objDiv = document.getElementById("chatbox");
                    objDiv.scrollTop = objDiv.scrollHeight;

                    document.getElementById("chattext").value = "";
                    document.getElementById("chattext").focus();
                }
            }
        };

        xhr.open("GET", strurl);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send(null);

    }


    </script>
    {% endblock %}

    {% block styles %}
    <style>
        .chatheader {
        position:fixed;
        left:0;
        top:0;
        width:100%;
        padding:10px 0;
        background-color:#DDD;
        color:#000;
        text-align:center;
        }

        .chatfooter {
        position:fixed;
        left:0;
        bottom:0;
        width:100%;
        padding:10px 0;
        background-color:#FFF;
        color:#000;
        text-align:center;
        }
    </style>
    {% endblock %}

</head>
<body style="height:100%;background-color:#BBCCDD;">
<div class="chatheader">INULearningMate</div>
<div style="height:450px;margin-top:50px;background-color:#BBCCDD;" id="chatbox"></div>
    {% if username %}
        {{chatanswer}}
    {% endif %}
<div class="chatfooter">
    <table width="100%">
            {% csrf_token %}
            <input type="hidden" id="username" name="username" value={{username}}>
            <input type="hidden" id="password" name="password" value={{password}}>
        <tr>
            <td width="85%" align="left">
                <input type="text" id="chattext" name="chatinput" style="padding:10px 0;width:100%;border:solid 0px #FFF">

            </td>
            <td width="15%" align="right">
                <button style="padding:10px 0;width:100%;" onclick="sendAsk()">SEND</button>
            </td>
        </tr>
    </table>

</div>

</body>
</html>


