<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INULearningMate</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="/static/js/script.js"></script>

    {% block scripts %}
    <script>
    function firstBotMessage() {
        let firstMessage = "INULearningMate입니다! 무엇을 도와드릴까요?"
        document.getElementById("chatbox").innerHTML
        += "<div class='chatBot'> <span>"+firstMessage+"</span></div>";

        let course_name ="<div class='chatBot'><span>&lt;현재 수강 중인 과목&gt;<br> {{courses}} </span></div>";
        course_name = course_name.replace(/\]/g,"");
        course_name = course_name.replace(/\[/g,"");

        document.getElementById("chatbox").innerHTML += course_name

    }
    </script>
    {% endblock %}


</head>
<body>
<div class="chatBody">
<div class="chatHeader">INULearningMate</div>
<div class="chatBox" id="chatbox"></div>
<div class="chatFooter">
    <table width="100%">
            {% csrf_token %}
            <input type="hidden" id="username" name="username" value={{username}}>
            <input type="hidden" id="password" name="password" value={{password}}>
        <tr>
            <td width="85%" align="left">
                <input type="text" id="chattext" name="chatinput" class="inputText">

            </td>
            <td width="15%" align="right">
                <button class="buttonSend" onclick="sendAsk()">SEND</button>
            </td>
        </tr>
    </table>

</div>
</div>
</body>
</html>

