<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INULearningMate</title>
    {% block scripts %}
    <script>

    function sendAsk() {
        ctext = document.getElementById("chattext").value;
        if(ctext == "") {
            document.getElementById("chattext").focus();
            return false;
        }
        //alert(ctext);
        addtext = "<div style='margin:15px 0;text-align:right;'> <span style='padding:3px 10px;background-color:#3388cc;border-radius:3px;'>" + ctext + "</span></div>";
        document.getElementById("chatbox").innerHTML += addtext;

        bottext = "<div style='margin:15px 0;text-align:left;'> <span style='padding:3px 10px;background-color:#ffd700;border-radius:3px;'>INU 챗봇입니다.</span></div>";
        document.getElementById("chatbox").innerHTML += bottext;
    }

    </script>
    {% endblock %}

    {% block styles %}
    <style>
        .chatheader {
        position:fixed;
        left:0;
        top:0;
        width:100%;
        padding:10px 0;
        background-color:#DDD;
        color:#000;
        text-align:center;
        }

        .chatfooter {
        position:fixed;
        left:0;
        bottom:0;
        width:100%;
        padding:10px 0;
        background-color:#FFF;
        color:#000;
        text-align:center;
        }
    </style>
    {% endblock %}

</head>
<body style="height:100%;background-color:#BBCCDD;">

<div class="chatheader">INULearningMate</div>
<div style="height:450px;margin-top:50px;background-color:#BBCCDD;" id="chatbox"></div>
<div class="chatfooter">
    <table width="100%">
        <form action="{% url 'chat'%}" method="POST">
            {% csrf_token %}
        <tr>
            <td width="85%" align="left">
                <input type="text" id="chattext" name="chatinput" style="padding:10px 0;width:100%;border:solid 0px #FFF">

            </td>
            <td width="15%" align="right">
                <button style="padding:10px 0;width:100%;" onclick="sendAsk()">SEND</button>
            </td>
        </tr>
        </form>
    </table>

</div>

</body>
</html>