<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <title>INULearningMate</title>
</head>

<body>
<div class="loginBody">
    <div class="loginBox" id="loginbox">
        <h2>INU<br>LearningMate</h2>
        <br>
        <form action="{% url 'login'%}" method="POST">
            {% csrf_token %}
            <div class="inputIdPw">
                <div class="text"> ID </div>
                <input name="username" placeholder="" type="text" required/>
                <br>
                <div class="text"> PW </div>
                <input name="password" placeholder="" type="password" required/>
                <br>
                <button type="submit">로그인</button>
            </div>           
            <input type="checkbox" id="autologin" name="autologin" value="True">
            <label for="autologin">자동 로그인</label>
            <br><br>
            <a class="loginFind" href="https://portal.inu.ac.kr:444/enview/">아이디/ 비밀번호 찾기</a>
        </form>
    </div>
</div>
</body>
{% if messages %}
	{% for message in messages %}
        <script>
            alert('아이디와 비밀번호를 확인해주세요!');
        </script>
	{% endfor %}
{% endif %}
</html>