<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INULearningMate</title>

</head>

<body style="height:100%;background-color:#BBCCDD;">
<center>
<div style="height:450px;width:300px;margin-top:200px;padding:10px;background-color:#ffd700;border-radius:3px;" id="loginbox">
    <br><br><br>
    <h2>INULearningMate</h2>
    <form action="{% url 'login'%}" method="POST">
        {% csrf_token %}
        ID: <input name="username" placeholder="" type="text"/>
        <br>
        PW: <input name="password" placeholder="" type="password"/>
        <br>
        <br>
        <button type="submit">로그인</button>
	<br>
        <a class="loginfind" href="https://portal.inu.ac.kr:444/enview/">아이디/ 비밀번호 찾기</a>
    </form>
</div>
</center>

</body>
{% if messages %}
	{% for message in messages %}
        <script>
            alert('아이디와 비밀번호를 확인해주세요!');
        </script>
	{% endfor %}
{% endif %}
</html>