<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>INULearningMate</title>
</head>

<body>
<div class="loginBody">
<center>
<div class="loginBox" id="loginbox">
    <br><br><br>
    <h2>INULearningMate</h2>
    <form action="{% url 'login'%}" method="POST">
        {% csrf_token %}
        ID: <input name="username" placeholder="" type="text"/>
        <br>
        PW: <input name="password" placeholder="" type="password"/>
        <br>
        <br>
        <button type="submit">로그인</button>
	<br><br>
        <a class="loginfind" href="https://portal.inu.ac.kr:444/enview/">아이디/ 비밀번호 찾기</a>
    </form>
</div>
</center>
</div>
</body>
{% if messages %}
	{% for message in messages %}
        <script>
            alert('아이디와 비밀번호를 확인해주세요!');
        </script>
	{% endfor %}
{% endif %}
</html>