# Default ignored files
/workspace.xml
__pycache__/chatbot.cpython-310.pyc
myproject/__pycache__/wsgi.cpython-310.pyc
myproject/__pycache__/urls.cpython-310.pyc
myproject/__pycache__/__init__.cpython-310.pyc
myproject/__pycache__/settings.cpython-310.pyc
myapp/migrations/__pycache__/__init__.cpython-310.pyc
myapp/__pycache__/views.cpython-310.pyc
myapp/__pycache__/urls.cpython-310.pyc
myapp/__pycache__/models.cpython-310.pyc
myapp/__pycache__/admin.cpython-310.pyc
myapp/__pycache__/apps.cpython-310.pyc
myapp/__pycache__/__init__.cpython-310.pyc
__pycache__/lms_crawl.cpython-310.pyc
__pycache__/chatbot.cpython-310.pyc
.vscode/launch.json
db.sqlite3
ngrok.exe
